---
import trendimgJSON from "../../../data/trend-img.json";
---

<section class="md:pt-24">
  <div class="relative flex h-full">
    {
      trendimgJSON.contents.map((item) => {
        return (
          <div class="flex-1 w-1/2">
            <img
              src={item.img}
              alt={item.alt}
              class="w-full h-full object-cover"
            />
          </div>
        );
      })
    }
    <h1
      class="absolute z-24 text-white rounded-tr-[3.25rem] right-0 text-5xl w-fit md:-top-8 bg-[#2B5F8F] md:left-0 md:ml-12 md:px-6 md:py-3"
    >
      Trending
    </h1>
  </div>

  <div
    class="bg-[#2B5F8F] text-white rounded-r-[3.75rem] md:my-4 md:w-[75%] lg:w-1/2"
  >
    <h1 class="text-center text-[1.75rem] md:pt-8 md:px-4 lg:pt-2">
      Trending Places in Cebu!
    </h1>
    <p class="text-center sm:py-4 sm:mb-4 sm:px-4 lg:my-0">
      Discover the vibrant and culturally rich city of Cebu! From its historical
      landmarks to its lively nightlife, there's always something exciting
      happening in this tropical paradise. Don't miss out on the latest trending
      attractions and experiences that Cebu has to offer.
    </p>
  </div>
</section>

<section class="md:pl-8 md:pb-24 md:pt-12 lg:px-12">
  {
    trendimgJSON.locations.map((location) => {
      return (
        <>
          <>
            <div class="flex pb-12">
              <div class="md:w-full">
                <h1 class="inline-block border-b-4 border-b-border-green text-2xl">
                  {location.name}
                </h1>
                <p class="w-full max-h-[300px] mt-4 md:overflow-auto md:touch-pan-y lg:overflow-none lg:h-3/4 lg:w-3/4">
                  {location.description}
                </p>
              </div>
              <div class="bg-[#2B5F8F] md:w-full md:h-1/2 md:ml-16 md:mt-12 text-center lg:w-[75%] lg:mx-0 lg:mr-8">
                <div class="relative top-4 -left-4">
                  <img
                    src={location.img}
                    alt={location.alt}
                    class="w-full h-full object-cover"
                  />
                </div>
              </div>
            </div>
          </>
        </>
      );
    })
  }
</section>
