---
import trendimgJSON from "../../../data/trend-img.json";
---

<section class="sm:py-8">
  <div class="relative flex h-full">
    {
      trendimgJSON.contents.map((item) => {
        return (
          <div class="flex-1 w-1/2">
            <img
              src={item.img}
              alt={item.alt}
              class="w-full h-full object-cover"
            />
          </div>
        );
      })
    }
    <h1
      class="absolute z-24 text-white rounded-tr-[3.25rem] right-0 text-5xl w-fit sm:-top-8 bg-[#2B5F8F] sm:left-0 sm:ml-12 sm:px-6 sm:py-3"
    >
      Trending
    </h1>
  </div>

  <div
    class="bg-[#2B5F8F] text-white rounded-r-[3.75rem] border-2 border-black sm:my-4 sm:w-[75%]"
  >
    <h1 class="text-center text-[1.75rem] sm:pt-8 sm:px-4">
      Trending Places in Cebu!
    </h1>
    <p class="text-center sm:py-4 sm:mb-4 sm:px-4">
      Discover the vibrant and culturally rich city of Cebu! From its historical
      landmarks to its lively nightlife, there's always something exciting
      happening in this tropical paradise. Don't miss out on the latest trending
      attractions and experiences that Cebu has to offer.
    </p>
  </div>
</section>

<section class="pl-8 pb-24">
  {
    trendimgJSON.locations.map((location) => {
      return (
        <>
          <>
            <div class="flex pb-12">
              <div class="w-full">
                <h1 class="inline-block border-b-4 border-b-border-green text-2xl">
                  {location.name}
                </h1>
                <p class="w-full max-h-[300px] mt-4 sm:overflow-auto sm:touch-pan-y lg:overflow-none">
                  {location.description}
                </p>
              </div>
              <div class="bg-[#2B5F8F] w-full h-1/2 ml-16 mt-12 border-2 border-black text-center">
                <div class="relative top-4 -left-4">
                  <img
                    src={location.img}
                    alt={location.alt}
                    class="w-full h-full object-cover"
                  />
                </div>
              </div>
            </div>
          </>
        </>
      );
    })
  }
</section>
