---
import eventspageJson from "../../../data/eventspage.json";
---

<section class="py-12">
  <div class="pt-12">
    <div class="">
      <img
        src="/trending-pics/sinulog.png"
        alt="Sinulog"
        class="w-full h-full object-cover"
      />
    </div>
    <div>
      <h1
        class="bg-[#2B5F8F] inline-block absolute top-16 left-16 text-5xl p-4 text-white rounded-tr-[3.25rem]"
      >
        Events & Festivities
      </h1>
    </div>

    <div class="py-6 bg-[#2B5F8F] mt-4 rounded-r-[3.25rem] w-3/4 text-white">
      <h1 class="text-4xl pl-3.5 pb-4">Notable Events and Festivities</h1>
      <p class="pl-4 mr-6 pr-8 text-sm">
        Welcome to our Events and Festivities page, where you can find exciting
        and memorable events happening in each month of the year. Join us as we
        celebrate the rich culture and traditions of our community and
        experience unforgettable moments that will make your visit truly
        special.
      </p>
    </div>
  </div>
</section>

<section>
  {
    eventspageJson.contents.map((item) => {
      return (
        <figure>
          <div class="ml-4 mb-4 text-center">
            <h1 class="inline-block border-b-4 border-border-green text-2xl">
              {item.month}
            </h1>
          </div>
          <section class="mb-4">
            {item.festivals.map((festivals) => {
              return (
                <div class="flex py-16">
                  <div class="relative ml-4 mb-4 mt-2 bg-[#2B5F8F] w-1/2 h-1/2">
                    <div class="relative top-4 left-4 grid grid-cols-2 grid-rows-2">
                      <div class="row-span-3">
                        <img
                          src={festivals.img1}
                          alt={festivals.alt1}
                          class="w-full h-full object-cover"
                        />
                      </div>
                      <div>
                        <img
                          src={festivals.img2}
                          alt={festivals.alt2}
                          class="w-full h-full object-cover"
                        />
                      </div>
                      <div>
                        <img
                          src={festivals.img3}
                          alt={festivals.alt3}
                          class="w-full h-full object-cover"
                        />
                      </div>
                    </div>
                  </div>
                  <figcaption class="w-1/2 ml-8">
                    <h1 class="inline-block border-b-4 border-border-green text-2xl">
                      {festivals.name}
                    </h1>
                    <h2 class="py-2 text-sm italic">{festivals.date}</h2>
                    <p>{festivals.description}</p>
                  </figcaption>
                </div>
              );
            })}
          </section>
        </figure>
      );
    })
  }
</section>
