---
import trendingJSON from "../../data/trending.json";
---

<section
  class="my-20 mx-12 bg-[#2B5F8F] rounded-tl-[2.5rem] h-3/4"
  id="trending"
>
  <h1 class="pl-16 pt-8 text-white text-3xl">Trending Now</h1>
  {
    trendingJSON.banner.map((banner) => {
      return (
        <section>
          <figure class="relative h-full">
            <div class="relative top-6 ml-16 max-w-1/2 max-h-1/2">
              <img
                src={banner.imageUrl}
                alt={banner.alt}
                class="w-3/4 rounded-tl-[2.5rem]"
              />
            </div>
            <figcaption class="absolute top-0 right-0 mt-6 w-1/2 h-full bg-white md:overflow-auto md:touch-pan-y">
              <h1 class="pl-20 pt-24 text-8xl bg-clip-text text-transparent bg-gradient-to-r from-blue-800 to-blue-600 md:text-3xl md:pt-12">
                Best in 2023
              </h1>
              <div class="mt-16 md:mt-8">
                <h2 class="px-8 pt-4 font-bold">{banner.name}</h2>
                <p class="px-8 pt-4">{banner.description}</p>
              </div>
            </figcaption>
          </figure>
        </section>
      );
    })
  }
</section>

<section class="flex gap-4 mx-32 my-8">
  {
    trendingJSON.contents.map((trending) => {
      return (
        <div class="flex-1">
          <img
            src={trending.imageUrl}
            alt={trending.alt}
            class="w-full h-full object-cover border rounded-lg hover:transform hover:scale-110 hover:shadow-lg transition duration-200 ease-in-out"
          />
          <div class="text-center pt-3 text-xl">{trending.name}</div>
        </div>
      );
    })
  }
</section>
