---
import explorepageJson from "../../../data/explorepage.json";
---

<section class="pt-12">
  <div class="pt-12">
    <div class="h-1/2">
      <img
        src="/trending-pics/18.png"
        alt="Cebu Activities"
        class="w-full h-full object-cover"
      />
    </div>
    <div>
      <h1
        class="bg-[#2B5F8F] inline-block absolute top-16 left-16 text-5xl p-4 text-white rounded-tr-[3.25rem]"
      >
        Explore Cebu!
      </h1>
    </div>

    <div class="text-center py-6">
      <h1 class="text-3xl pb-3">Explore Cebu!</h1>
      <p
        class="bg-[#2B5F8F] inline-block p-4 text-lg text-white w-1/2 rounded-3xl"
      >
        First Time in Cebu and don’t know where to go? You’ve come at the right
        place!
      </p>
    </div>
  </div>
</section>

<!-- Restaurants -->

<section id="foodTrip" class="pb-8 pt-24">
  <div class="text-center">
    <h1 class="inline-block border-b-4 border-border-green mb-4 text-3xl">
      Food Trip
    </h1>
  </div>
  {
    explorepageJson.restaurants.map((item) => {
      return (
        <figure class="flex py-8">
          <div class="w-1/2 pr-4">
            <h1 class="inline-block border-b-4 border-border-green text-2xl mb-2">
              {item.name}
            </h1>
            <p>{item.description}</p>
          </div>
          <div class="grid grid-cols-2 grid-rows-2 gap-2 w-1/2 h-1/2">
            <div class="col-span-2 order-last">
              <img
                src={item.img1}
                alt={item.alt1}
                class="w-full h-full object-cover"
              />
            </div>
            <div>
              <img
                src={item.img2}
                alt={item.alt2}
                class="w-full h-full object-cover"
              />
            </div>
            <div class="">
              <img
                src={item.img3}
                alt={item.alt3}
                class="w-full h-full object-cover object-left"
              />
            </div>
          </div>
        </figure>
      );
    })
  }
</section>

<!-- RESORTS -->

<section id="resorts" class="pt-24">
  <div class="text-center">
    <h1 class="inline-block border-b-4 border-border-green mb-4 text-3xl">
      Resorts
    </h1>
  </div>
  {
    explorepageJson.resorts.map((item) => {
      return (
        <figure class="flex py-8">
          <div class="w-1/2 pr-4">
            <h1 class="inline-block border-b-4 border-border-green text-2xl mb-2">
              {item.name}
            </h1>
            <p>{item.description}</p>
          </div>
          <div class="grid grid-cols-2 grid-rows-2 gap-2 w-1/2 h-1/2">
            <div class="col-span-2 order-last">
              <img
                src={item.img1}
                alt={item.alt1}
                class="w-full h-full object-cover"
              />
            </div>
            <div>
              <img
                src={item.img2}
                alt={item.alt2}
                class="w-full h-full object-cover"
              />
            </div>
            <div class="">
              <img
                src={item.img3}
                alt={item.alt3}
                class="w-full h-full object-cover object-left"
              />
            </div>
          </div>
        </figure>
      );
    })
  }
</section>

<!-- Tourist Spots -->

<section id="tourspots" class="pt-24">
  <div class="text-center">
    <h1 class="inline-block border-b-4 border-border-green mb-4 text-3xl">
      Tourist Spots
    </h1>
  </div>
  {
    explorepageJson.spots.map((item) => {
      return (
        <figure class="flex py-8">
          <div class="w-1/2 pr-4">
            <h1 class="inline-block border-b-4 border-border-green text-2xl mb-2">
              {item.name}
            </h1>
            <p>{item.description}</p>
          </div>
          <div class="grid grid-cols-2 grid-rows-2 gap-2 w-1/2 h-1/2">
            <div class="col-span-2 order-last">
              <img
                src={item.img1}
                alt={item.alt1}
                class="w-full h-full object-cover"
              />
            </div>
            <div>
              <img
                src={item.img2}
                alt={item.alt2}
                class="w-full h-full object-cover"
              />
            </div>
            <div class="">
              <img
                src={item.img3}
                alt={item.alt3}
                class="w-full h-full object-cover object-left"
              />
            </div>
          </div>
        </figure>
      );
    })
  }
</section>
